<h1>{{title}}</h1>
<ul id="product-list">
    {{log products}}
    
   {{#each products}}
    <pre>{{log this}}</pre>
{{/each}}
</ul>

<h1>{{title}}</h1>
<ul id="product-list">
    {{#if products}}
        {{#each products}}
        <li>
            <h3>{{this.title}}</h3>
            <p>Precio: ${{this.price}}</p>
            <p>Categoría: {{this.category}}</p> 
            <a href="/products/{{this._id}}">Ver Detalles</a>

            
        </li>
        {{/each}}
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}
</ul>


<div class="pagination">
    {{#if pagination}}
        {{#if pagination.hasPrevPage}}
        <a href="/products?page={{pagination.prevPage}}&limit=10">← Anterior</a>
        {{/if}}
        <span>Página {{pagination.page}} de {{pagination.totalPages}}</span>
        {{#if pagination.hasNextPage}}
        <a href="/products?page={{pagination.nextPage}}&limit=10">Siguiente →</a>
        {{/if}}
    {{/if}}
</div>


